.header {
    display: flex;
    align-items: flex-start; /* align items to the top */
    background-color: #004080;
    color: white;
    padding: 10px 20px;
}

.logo img {
    height: 80px;   /* adjust size */
    margin-right: 15px; /* space between logo and text */
    border-radius: 10px;
}

.college-info h1 {
    margin: 0;
    font-size: 22px;
}

.college-info h2 {
    margin: 5px 0 0 0;
    font-size: 18px;
    color: #ffcc00;
}
